@model IEnumerable<WebAppMVCDapper.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Customer Id
            </th>
            <th>
               First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
               Email
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @item.CustomerId
            </td>
            <td>
               @item.FirstName
            </td>
            <td>
               @item.LastName
            </td>
            <td>
               @item.Email
            </td>
            <td>
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>|
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerId">Details</a>|
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
